# Temporary files
*.swp
*.log
*~
.DS_Store
.vscode/

# Python files
venv/
__pycache__/
.mypy_cache/

# Github authentication files
/tools/.github_*

# yunohost specific cache/output dirs
.apps_cache
builds*

# Static assets
tools/app_generator/static

# local debuggings
package_linter/
