#!/bin/bash

#=================================================
# COMMON VARIABLES
#=================================================

{% if parameters["use_nodejs"] -%}
nodejs_version={{ parameters["use_nodejs_version"]}}
{% endif -%}
#=================================================
# PERSONAL HELPERS
#=================================================

#=================================================
# EXPERIMENTAL HELPERS
#=================================================

#=================================================
# FUTURE OFFICIAL HELPERS
#=================================================
