@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
      @apply text-sm font-medium rounded-md px-4 py-2 transition;
  }
  .btn-sm {
      @apply text-xs font-medium rounded-md px-2 py-2 transition;
  }
  .btn-success {
      @apply text-white bg-green-500 hover:bg-green-700;
  }
  .btn-primary {
      @apply text-white bg-blue-500 hover:bg-blue-700;
  }
  .btn-link {
      @apply bg-gray-100 hover:bg-gray-200;
  }
  .btn-primary-outline {
      @apply border text-blue-600 border-blue-500 hover:text-blue-400;
  }
  .from-markdown p {
      @apply mb-2;
  }
  .from-markdown h3 {
      @apply text-xl mb-1 font-semibold;
  }
  .from-markdown ul {
      padding: revert;
      list-style: disc;
  }
  .from-markdown a {
      @apply text-blue-600;
  }
}
