#!/bin/bash

#=================================================
# COMMON VARIABLES
#=================================================

{% if data.use_nodejs -%}
nodejs_version={{ data.nodejs_version }}
{% endif -%}

#=================================================
# PERSONAL HELPERS
#=================================================

