#!/bin/bash
#### App file generated with YoloGen, the YunoHost app generator, version {{ data['GENERATOR_VERSION'] }}.

{% if data.generator_mode == 'tutorial' -%} # This is the tutorial version of the app.
# It contains extra commands to explain what should be done in case you want to adjust some part of the script.
# Once you are done, you may remove them.
{% endif %}
#=================================================
# GENERIC START
#=================================================
# IMPORT GENERIC HELPERS
#=================================================

# Keep this path for calling _common.sh inside the execution's context of backup and restore scripts
source ../settings/scripts/_common.sh
source /usr/share/yunohost/helpers

#=================================================
# DECLARE DATA AND CONF FILES TO BACKUP
#=================================================
ynh_print_info --message="Declaring files to be backed up..."

{% if data.generator_mode == 'tutorial' -%}
### N.B. : the following 'ynh_backup' calls are only a *declaration* of what needs
### to be backuped and not an actual copy of any file. The actual backup that
### creates and fill the archive with the files happens in the core after this
### script is called. Hence ynh_backups calls takes basically 0 seconds to run.
{% endif %}

{% if data.data_dir -%}
#=================================================
# BACKUP THE DATA DIR
#=================================================
{% if data.generator_mode == 'tutorial' -%}
### Only relevant if there is a "data_dir" resource for this app
# The --is_big parameters ensure this folder is not included in the backup by default (taking less space), except if BACKUP_CORE_ONLY=0 is passed before the backup command. You might want to document that for your users.
# TODO : there should be an option for this
{% endif %}
ynh_backup --src_path="$data_dir" # --is_big
{% endif %}

#=================================================
# SYSTEM CONFIGURATION
#=================================================

# Backup the nginx configuration
ynh_backup --src_path="/etc/nginx/conf.d/$domain.d/$app.conf"

{% if data.main_technology == "php" -%}
# Backup the PHP-FPM configuration
ynh_backup --src_path="/etc/php/$phpversion/fpm/pool.d/$app.conf"
{% endif %}

{% if data.use_fail2ban -%}
# Backup the Fail2Ban config
ynh_backup --src_path="/etc/fail2ban/jail.d/$app.conf"
ynh_backup --src_path="/etc/fail2ban/filter.d/$app.conf"
{% endif %}

{% if data.use_logrotate -%}
# Backup the logrotate configuration
ynh_backup --src_path="/etc/logrotate.d/$app"
{% endif %}

{% if data.main_technology not in ["php", "none"] -%}
# Backup the systemd service unit
ynh_backup --src_path="/etc/systemd/system/$app.service"
{% endif %}

#=================================================
# BACKUP VARIOUS FILES
#=================================================

{% if data.use_cron -%}
# Backup the cron configuration
ynh_backup --src_path="/etc/cron.d/$app"
{% endif %}

{% if data.generator_mode == 'tutorial' -%}
### For apps with huge logs, you might want to pass --is_big,
### and in restore script, mkdir and pass --not_mandatory to ynh_restore_file.
{% endif %}
ynh_backup --src_path="/var/log/$app/" # TODO : add an option to specify log file

{% if data.database != 'false' -%}
#=================================================
# BACKUP THE DATABASE
#=================================================
ynh_print_info --message="Backing up the {{ data.database }} database..."

### (However, things like MySQL dumps *do* take some time to run, though the
### copy of the generated dump to the archive still happens later)

{% if data.use_db == 'mysql' -%}
ynh_mysql_dump_db --database="$db_name" > db.sql
{% elif data.use_db == 'postgresql' -%}
ynh_psql_dump_db --database="$db_name" > db.sql
{% endif %}
{% endif %}

#=================================================
# END OF SCRIPT
#=================================================

ynh_print_info --message="Backup script completed for $app. (YunoHost will then actually copy those files to the archive)."
