<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <title>{{ _("YunoHost package generator") }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='fork-awesome.min.css') }}">
    {% if config.DEBUG %}
    <script src="{{ url_for('static', filename='tailwind-css.js') }}"></script>
    <style type="text/tailwindcss">
        {{ tailwind_local|safe }}
    </style>
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
    {% endif %}
  </head>
  <body>
      <main class="my-2 mx-auto max-w-screen-md">
        {% block main -%}
        {%- endblock main %}
      </main>
  </body>
</html>
