#!/bin/bash
#### App file generated with YoloGen, the YunoHost app generator, version {{ parameters['GENERATOR_VERSION'] }}.
{% if parameters["tutorial"] -%} # This is the tutorial version of the app.
# It contains extra commands to explain what should be done in case you want to adjust some part of the script.
# Once you are done, you may remove them.
{% endif -%}
#=================================================
# GENERIC START
#=================================================
# IMPORT GENERIC HELPERS
#=================================================
source _common.sh
source /usr/share/yunohost/helpers

{% if parameters["tutorial"] -%}
# Settings are automatically loaded as bash variables
# in every app script context, therefore typically these will exist:
# - $domain
# - $path
# - $language
# - $install_dir
# - $port
# ...

# For remove operations :
# - the core will deprovision every resource defined in the manifest **after** this script is ran
# this includes removing the install directory, and data directory (if --purge was used)
{% endif -%}

#=================================================
# REMOVE SYSTEM CONFIGURATIONS
#=================================================
# REMOVE SYSTEMD SERVICE
#=================================================
ynh_script_progression --message="Removing system configurations related to $app..." --weight=1

{% if parameters["tutorial"] -%}
# This should be a symetric version of what happens in the install script
{% endif -%}

{% if parameters["use_systemd_service"] -%}
# Remove the service from the list of services known by YunoHost (added from `yunohost service add`)
if ynh_exec_warn_less yunohost service status $app >/dev/null
then
	ynh_script_progression --message="Removing $app service integration..." --weight=1
	yunohost service remove $app
fi

ynh_remove_systemd_config
{% endif -%}

ynh_remove_nginx_config

{% if parameters["use_php"] -%}
ynh_remove_fpm_config
{% endif -%}

{% if parameters["use_logrotate"] -%}
ynh_remove_logrotate
{% endif -%}

{% if parameters["use_fail2ban"] -%}
ynh_remove_fail2ban_config
{% endif -%}

# Remove other various files specific to the app... such as :
{% if parameters["use_cron"] -%}
ynh_secure_remove --file="/etc/cron.d/$app"
{% endif -%}

ynh_secure_remove --file="/etc/$app"

ynh_secure_remove --file="/var/log/$app"

#=================================================
# END OF SCRIPT
#=================================================

ynh_script_progression --message="Removal of $app completed" --last
