<!DOCTYPE html>
<html lang="en">

  <head>
    <title>YunoHost app store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='tailwindcss.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='fork-awesome.min.css') }}" rel="preload">
    <style type="text/tailwindcss">
    @layer utilities {
      .btn {
          @apply text-sm font-medium rounded-md px-4 py-2 transition;
      }
      .btn-sm {
          @apply text-xs font-medium rounded-md px-2 py-2 transition;
      }
      .btn-success {
          @apply text-white bg-green-500 hover:bg-green-700;
      }
      .btn-primary {
          @apply text-white bg-blue-500 hover:bg-blue-700;
      }
      .btn-primary-outline {
          @apply border text-blue-600 border-blue-500 hover:text-blue-400;
      }
      .from-markdown {
          @apply my-4;
      }
      .from-markdown p {
          @apply mb-2;
      }
      .from-markdown h3 {
          @apply text-xl mb-1 font-semibold;
      }
      .from-markdown ul {
          padding: revert;
          list-style: disc;
      }
    }
    </style>
  </head>

  <body>
        <header class="pb-2">
          <div
            class="flex h-16 items-center gap-8 px-4 sm:px-6 lg:px-8"
          >
            <a class="block text-teal-600" href="/">
              <span class="sr-only">Home</span>
              <img src="{{ url_for('static', filename='ynh_logo_roundcorner.png') }}" style="height: 3em;" />
            </a>

            <div class="flex flex-1 items-center justify-end md:justify-between">
              <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                  <li>
                    <a class="text-gray-800 font-bold transition hover:text-gray-500/75" href="{{ url_for('browse_catalog') }}">
                      Catalog
                    </a>
                  </li>

                  <li>
                    <a class="text-gray-800 font-bold transition hover:text-gray-500/75" href="{{ url_for('browse_wishlist') }}">
                      Wishlist
                    </a>
                  </li>
                </ul>
              </nav>

              <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4">
                  <a
                    class="btn btn-primary-outline hidden md:inline-block"
                    href="https://yunohost.org/docs/"
                  >
                    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                    YunoHost documentation
                  </a>
                  {% if not user %}
                  <a
                    class="btn btn-primary hidden md:inline-block"
                    href="{{ url_for('login_using_discourse') }}"
                  >
                    Login using YunoHost's forum
                  </a>
                  {% else %}
                  <button
                    type="button"
                    class="group flex shrink-0 items-center rounded-lg transition"
                  >
                    <span class="sr-only">Menu</span>
                    <img
                      alt="Man"
                      src="{{ user['avatar_url'] }}"
                      class="h-10 w-10 rounded-full object-cover"
                    />
                    <p class="ms-2 hidden text-left text-xs sm:inline-block">
                      <strong class="block font-medium">{{ user['username'] }}</strong>
                    </p>
                    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
                  </button>
                  <!--
                  <a
                    class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
                    href="{{ url_for('logout') }}"
                  >
                    Logout
                  </a>
                  -->
                  {% endif %}
                </div>

                <button
                  class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
                >
                  <span class="sr-only">Toggle menu</span>
                  <i class="fa fa-bars h-5 w-5" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </header>

        {% block main %}
        {% endblock %}

        <footer class="text-center"><hr/>TODO : add a proper footer</footer>
  </body>

</html>
