{% if user and user.get('packaging_enabled') or request.endpoint in ["dash", "charts"] %}
    {% set packaging_enabled = True %}
{% else %}
    {% set packaging_enabled = False %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ locale }}">

  <head>
    <title>{{ _("YunoHost app store") }} | {% block title %}{% endblock %} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='fork-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
    </script>
  </head>

  <body class="bg-neutral-50 text-gray-800">
        <header class="pb-2 shadow-sm">
          <div
            class="flex h-12 items-center gap-8 pt-2 px-4 sm:px-6 lg:px-8"
          >
            <a class="block" href="/">
              <span class="sr-only">{{ _("Home") }}</span>
              <img alt="YunoHost Logo" src="{{ url_for('static', filename='ynh_logo_roundcorner.png') }}" style="height: 3em;">
            </a>

            <div class="flex flex-1 items-center justify-end md:justify-between">
              <nav class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                  <li>
                    <a class="font-bold transition hover:opacity-75" href="{{ url_for('browse_catalog') }}">
                        {{ _("Catalog") }} 
                    </a>
                  </li>

                  <li>
                    <a class="font-bold transition hover:opacity-75" href="{{ url_for('browse_wishlist') }}">
                        {{ _("Wishlist") }} 
                    </a>
                  </li>
                  {% if packaging_enabled %}
                  <li>
                    <a class="font-bold transition hover:opacity-75" href="{{ url_for('dash') }}">
                        {{ _("Packaging dashboard") }} 
                    </a>
                  </li>
                  <li>
                    <a class="font-bold transition hover:opacity-75" href="{{ url_for('charts') }}">
                        {{ _("Charts & history") }} 
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>

              <div class="flex items-center gap-4">
                <div class="hidden md:flex sm:gap-4">
                  <a
                    class="btn btn-primary-outline inline-block"
                    href="https://yunohost.org/docs/"
                  >
                    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                    {{ _("YunoHost documentation") }} 
                  </a>
                  <a
                    class="inline-block"
                    role="button"
                    target="_blank"
                    id="toggleDarkMode"
                  >
                    <i class="fa fa-sun-o inline-block dark:hidden rounded-md border border-gray-300 px-3 py-2.5 hover:bg-gray-100" aria-hidden="true" title="{{ _('Toggle light/dark mode') }}"></i>
                    <i class="fa fa-moon-o hidden dark:inline-block rounded-md border border-gray-300 px-3 py-2.5 hover:bg-gray-100" aria-hidden="true" title="{{ _('Toggle light/dark mode') }}"></i>
                  </a>
                  {% if not user %}
                  <a
                    class="btn btn-primary inline-block"
                    href="{{ url_for('login_using_discourse') }}"
                    role="button"
                  >
                     {{ _("Login using YunoHost's forum") }} 
                  </a>
                  {% else %}
                  <div class="relative">
                      <button
                        id="toggleUserMenu"
                        type="button"
                        class="group flex shrink-0 items-center rounded-md transition"
                      >
                          {% if user['avatar_url'] %}
                          <img
                            alt="Avatar"
                            src="{{ user['avatar_url'] }}"
                            class="h-10 w-10 rounded-full object-cover"
                          >
                          {% endif %}
                          <p class="pt-3 ms-2 text-left text-xs inline-block">
                            <strong class="block font-medium">{{ user['username'] }}</strong>
                          </p>
                          <i class="pt-3 fa fa-caret-down fa-fw" aria-hidden="true"></i>
                      </button>
                      <div
                        id="userMenu"
                        class="hidden absolute end-0 z-10 mt-2 w-56 rounded-md border border-gray-100 bg-white shadow-lg"
                        role="menu"
                      >
                        <div class="p-2">
                          <a href="/toggle_packaging"
                            class="block rounded-md px-4 py-2 text-sm hover:bg-gray-50 hover:text-gray-700"
                            role="menuitem"
                          >
                            <label for="toggle_packaging" class="inline-block relative mr-1 h-3 w-6 cursor-pointer">
                                <span class="sr-only">{{ _("Packaging boards") }} {{ user }}</span>
                            <input type="checkbox" id="toggle_packaging" class="peer sr-only" {% if user and user.get('packaging_enabled') %}checked{% endif %} disabled>
                          
                            <span class="absolute inset-0 rounded-full bg-gray-300 transition peer-checked:bg-green-500">
                            </span>
                          
                            <span class="absolute inset-y-0 start-0 my-0.5 ml-1 h-2 w-2 rounded-full bg-white transition-all peer-checked:start-2">
                            </span>
                          </label>
                          {{ _("Packaging boards") }}
                          </a>
                          <a
                            href="/logout"
                            class="block rounded-md px-4 py-2 text-sm hover:bg-gray-50 hover:text-gray-700"
                            role="menuitem"
                          >
                            {{ _("Logout") }} 
                          </a>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                </div>

                <div class="relative">
                    <button
                      id="toggleMenu"
                      class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
                    >
                      <span class="sr-only">{{ _("Toggle menu") }}</span>
                      <i class="fa fa-bars h-5 w-5" aria-hidden="true"></i>
                    </button>
                    <div
                      id="menu"
                      class="hidden absolute end-0 z-10 mt-2 p-2 w-64 rounded-md border border-gray-100 bg-white shadow-lg"
                      role="menu"
                    >
                      <div class="px-2 py-0.5">
                        <a
                          href="/"
                          class="block rounded-md px-4 py-3 text-sm hover:bg-gray-100"
                          role="menuitem"
                        >
                          {{ _("Home") }}
                        </a>
                      </div>
                      <div class="px-2 py-0.5">
                        <a
                          href="{{ url_for('browse_catalog') }}"
                          class="block rounded-md px-4 py-3 text-sm hover:bg-gray-100"
                          role="menuitem"
                        >
                          {{ _("Catalog") }} 
                        </a>
                      </div>
                      <div class="px-2 py-0.5">
                        <a
                          href="{{ url_for('browse_wishlist') }}"
                          class="block rounded-md px-4 py-3 text-sm hover:bg-gray-100"
                          role="menuitem"
                        >
                          {{ _("Wishlist") }} 
                        </a>
                      </div>
                      <div class="px-2 py-1">
                        <a
                          href="https://yunohost.org/docs/"
                          class="block btn btn-primary-outline text-xs text-gray-500"
                          role="menuitem"
                        >
                            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                            {{ _("YunoHost documentation") }} 
                        </a>
                      </div>
                      {% if not user %}
                      <div class="px-2 py-1">
                        <a
                          href="{{ url_for('login_using_discourse') }}"
                          class="block btn btn-primary rounded-md text-xs text-gray-500"
                          role="button"
                        >
                          {{ _("Login using YunoHost's forum") }} 
                        </a>
                      </div>
                      {% else %}
                      <hr class="mt-3" />
                      <div class="px-2 py-0.5">
                        <span
                          class="block rounded-md px-4 py-2 text-sm text-gray-500"
                          role="menuitem"
                        >
                          {% if user['avatar_url'] %}
                          <img
                            alt="Avatar"
                            src="{{ user['avatar_url'] }}"
                            class="h-10 w-10 rounded-full object-cover inline-block"
                          >
                          {% endif %}
                          <p class="pt-2 ms-2 inline-block text-left">
                            <strong class="font-medium">{{ user['username'] }}</strong>
                          </p>
                        </span>
                      </div>
                      <div class="px-2 py-0.5">
                        <a href="/toggle_packaging"
                          class="block rounded-md px-4 py-3 text-sm hover:bg-gray-100"
                          role="menuitem"
                        >
                          <label for="toggle_packaging" class="inline-block relative mr-1 h-3 w-6 cursor-pointer">
                          <span class="sr-only">{{ _("Packaging boards") }}</span>
                          <input type="checkbox" id="toggle_packaging" class="peer sr-only" {% if user and user.get('packaging_enabled') %}checked{% endif%} disabled>
                        
                          <span class="absolute inset-0 rounded-full bg-gray-300 transition peer-checked:bg-green-500">
                          </span>
                        
                          <span class="absolute inset-y-0 start-0 my-0.5 ml-1 h-2 w-2 rounded-full bg-white transition-all peer-checked:start-2">
                          </span>
                        </label>
                        {{ _("Packaging boards") }}
                        </a>

                        <a
                          href="/logout"
                          class="block rounded-md px-4 py-3 text-sm hover:bg-gray-100"
                          role="menuitem"
                        >
                          {{ _("Logout") }} 
                        </a>
                      </div>
                      {% endif %}
                   </div>
                </div>
              </div>
            </div>
          </div>
        </header>

        <main class="mx-auto max-w-screen-lg">
        {% block main %}
        {% endblock %}
        </main>

        <footer class="h-5 my-5 text-center">
          <p>
            {{ _("Made with <i class='text-red-500 fa fa-heart-o' aria-label='love'></i> using <a class='text-blue-800 dark:text-blue-400' href='https://flask.palletsprojects.com'>Flask</a> and <a class='text-blue-800 dark:text-blue-400' href='https://tailwindcss.com/'>TailwindCSS</a>") }}
            • <a class='text-blue-800 dark:text-blue-400' href='https://github.com/YunoHost/apps/tree/master/store'><i class='fa fa-code fa-fw' aria-hidden='true'></i> {{ _("Source") }}</a>
            • <a class='text-blue-800 dark:text-blue-400' href='https://yunohost.org/tos'>{{ _("Terms of Services") }}</a>
          </p>
        </footer>
  </body>

  <script type="text/javascript">
      document.getElementById('toggleDarkMode').addEventListener('click', () => {
          document.documentElement.classList.toggle('dark')
          if (document.documentElement.classList.contains("dark") == true)
          {
              localStorage.theme = 'dark';
          }
          else
          {
              localStorage.theme = 'light';
          }
      });
      {% if user %}
      document.getElementById('toggleUserMenu').addEventListener('click', () => {
        document.getElementById('userMenu').classList.toggle("hidden");
      });
      {% endif %}
      document.getElementById('toggleMenu').addEventListener('click', () => {
        document.getElementById('menu').classList.toggle("hidden");
      });
  </script>
</html>
