{% extends "base.html" %}
{% block main %}
{% set locale = 'en' %}
<div class="mt-5 text-center">
    <h2 class="text-2xl font-bold text-gray-900">
        Application Catalog
    </h2>
</div>
<div class="max-w-screen-md mx-auto mt-3 mb-3">
    <div class="flex flex-row">
        <div class="px-2 inline-block relative basis-2/3 text-gray-700">
            <label for="search" class="sr-only"> Search </label>

            <input 
                type="text"
                id="search"
                placeholder="Search for..."
                class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm py-2.5 pe-10"
            />

            <span class="absolute inset-y-0 end-0 grid w-10 place-content-center pr-4">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        </div>
        <select
          name="selectcategory"
          id="selectcategory"
          class="w-full rounded-md border-gray-200 shadow-sm sm:test-sm px-2 basis-1/3 "
        >
          <option value="">All apps</option>
          {% for id, category in catalog['categories'].items() %}
                {{ category['title'][locale] }}
                <option value="{{ id }}">{{ category['title'][locale] }}</option>
          {% endfor %}
        </select>
    </div>

    <div class=" mx-auto pt-2 text-center">
        <div class="inline-block px-2">
            <label for="sortbynew" class="inline-block relative h-4 w-7 cursor-pointer">
              <input type="checkbox" id="sortbynew" class="peer sr-only" />

              <span class="absolute inset-0 rounded-full bg-gray-300 transition peer-checked:bg-green-500">
              </span>

              <span class="absolute inset-y-0 start-0 m-1 h-2 w-2 rounded-full bg-white transition-all peer-checked:start-3">
              </span>
            </label>
            Sort by newest
        </div>
        <div class="inline-block px-2">
            <label for="onlyfav" class="inline-block relative h-4 w-7 cursor-pointer">
              <input type="checkbox" id="onlyfav" class="peer sr-only" />

              <span class="absolute inset-0 rounded-full bg-gray-300 transition peer-checked:bg-green-500">
              </span>

              <span class="absolute inset-y-0 start-0 m-1 h-2 w-2 rounded-full bg-white transition-all peer-checked:start-3">
              </span>
            </label>
            Show only your bookmarks
        </div>
    </div>
</div>


<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 max-w-screen-lg mx-auto pt-10">
    {% for app, infos in catalog['apps'].items() %}
    <div>
        <a
            href="{{ url_for('app_info', app_id=app) }}"
            class="relative block overflow-hidden rounded-lg p-2 hover:bg-gray-200 "
            >
            <div class="sm:flex sm:justify-between sm:gap-4">
                <div class="sm:shrink-0">
                    <img
                            src="https://app.yunohost.org/default/v3/logos/{{ infos['logo_hash'] }}.png"
                            class="h-16 w-16 rounded-lg object-cover shadow-sm mt-1"
                            />
                </div>
                <div class="w-full">
                    <span class="flex">
                        <h3 class="grow text-md font-bold text-gray-900">
                            {{ infos['manifest']['name'] }}
                        </h3>
                        <span class="pt-1 pr-2 text-xs">
                            {% if infos['level'] == 0 %}
                            <i class="fa fa-exclamation-circle text-red-500 opacity-50" aria-hidden="true"></i>
                            {% elif infos['level']|int <= 4 %}
                            <i class="fa fa-exclamation-triangle text-orange-500 opacity-50" aria-hidden="true"></i>
                            {% elif infos['level'] == 8 %}
                            <i class="fa fa-star text-yellow-500 opacity-50" aria-hidden="true"></i>
                            {% endif %}
                            <span class="text-purple-500">
                                123 <i class="fa fa-bookmark opacity-50" aria-hidden="true"></i>
                            </span>
                        </span>
                    </span>
                    <p class="max-w-[40ch] text-xs text-gray-500">
                        {{ infos['manifest']['description']['en'] }}
                    </p>
                    {% if infos['category'] %}
                    <span class="rounded-full bg-{{ catalog['categories'][infos['category']]['color'] }}-500 px-2.5 py-0.5 text-[10px] {% if catalog['categories'][infos['category']]['color'] != 'white' %} text-white {% else %} border border-gray-400 {% endif %} ">
                        {{ catalog['categories'][infos['category']]['title'][locale].lower() }}
                    </span>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
